{% load i18n %}
<!DOCTYPE html>

<html lang="{% block html_lang %}en{% endblock %}">
  <head>
    <title>{% block title %}History of your cars{% endblock %}</title>
    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block css %}
      <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <nav class="navbar navbar-default navbar-static-top" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "dashboard-home" %}">History of your car</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if active_tab == 'home' %}class="active"{% endif %}><a href={% url "dashboard-home" %}>Home</a></li>
            <li {% if active_tab == 'cars' %}class="active"{% endif %}><a href={% url "dashboard-cars" %}>Cars</a></li>
            <li {% if active_tab == 'about' %}class="active"{% endif %}><a href="#contact">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="##">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
   </div>
</nav>

<div class="container">

    <div class="row">
        {% block container %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-block alert-{{ message.tags }} fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block left_column %}
                <div class="col-md-8"></div>
            {% endblock %}


            {% block right_column %}
                <div class="col-md-4"></div>
            {% endblock %}

        {% endblock %}
    </div>
    {% block footer %}
    <hr>
        <footer>
            <p>2013</p>
        </footer>
    {% endblock %}

</div> <!-- /container -->

    {% block js %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% endblock %}
  </body>
</html>
