{% extends 'dashboard/car_detail.html' %}
{% load i18n %}

{% block left_column %}
    <div class="col-md-8">
         <h3 class="title">{% trans "Delete Car" %} {{ car.name }}</h3>

        <div class="alert alert-error">
            <h4>{% trans "Are you sure?" %}</h4>

        </div>


        <form action="" method="post">
            {% csrf_token %}
            <div class="submit-row">
                <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger" />
                <a class="btn btn-default" href="{% url "car-detail" object.car.pk %}">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
{% endblock %}