{% extends 'index.html' %}

{% load i18n %}

{% block left_column %}
    <div class="col-md-8">

    <h2>{{ object.title }}</h2>

    <div class="alert alert-info">

        <dl class="dl-horizontal-sidebar">

            <dt>{% trans "Liters" %}:</dt>
            <dd>{{ object.Liters }}</dd>
            <dt>{% trans "price" %}:</dt>
            <dd>{{ object.price }}</dd>
            <dt>{% trans "Created" %}:</dt>
            <dd>{{ object.created }}</dd>

        </dl>
    </div>

    <a class="btn" href="{% url "car-detail" object.car.pk %}">{% trans "Back" %}</a>
    </div>
{% endblock %}