{% extends 'index.html' %}
{% load as_horizontal_form from bootstrap %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block js %}
    {{ block.super }}

{#    	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>#}
{#		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>#}
		<script  src="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css"></script>
		<script  src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>

    <script type="text/javascript">
        $(function() {
            $( '#id_created' ).attr('autocomplete', 'off');
            $( "#id_created" ).datetimepicker();
        });
    </script>
{% endblock %}

{% block left_column %}
    <div class="col-md-6">
         <h3 class="title">{{ action }}</h3>
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    {{ form|as_horizontal_form }}
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
                </div>
            </form>
    </div>
{% endblock %}
