{% extends 'index.html' %}
{% load i18n %}
{% load thumbnail %}

{% block left_column %}
    <div class="col-md-8">
          <ul class="nav nav-tabs">
             <li class="active"><a href="#tab1" data-toggle="tab">{% trans "Information" %}</a></li>
             <li><a href="#tab2" data-toggle="tab">{% trans "Repair" %}</a></li>
             <li><a href="#tab3" data-toggle="tab">{% trans "Replacement" %}</a></li>
              <li><a href="#tab4" data-toggle="tab">{% trans "Refueling" %}</a></li>
          </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
               <div class="row">
               <div class="col-md-4">
                <h1><p>  {{ object.name }} </p></h1>
               <p> </p>

                  {% thumbnail object.image_car "100x100" crop="center" as im %}
                   <img src="{{ MEDIA_URL }}{{ im }}" alt="{{ im.name }}">
                   {% endthumbnail %}
               <br></br>
              <p> <br>{% trans "Created: " %}</br>{{ object.created }} </p>
               </div>
               <div class="col-md-8">
                   <br></br>
                 <h3><p>{% trans "Brand: " %}{{object.brand }} </p></h3>
                 <h3><p> {% trans "Model: " %} {{ object.model}} </p></h3>
                 <h3><p> {% trans "Vintage: " %}{{ object.vintage }} </p></h3>
                 <h3><p> {% trans "Mileage: " %}{{ object.mileage }} </p></h3>
               </div>
               </div>

            </div>

            <div class="tab-pane" id="tab2">

                 <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Created" %}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for rep in Repair %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{%  url 'repair-detail' rep.id %}">{{ rep.title }}</a></td>
                            <td>{{ rep.created }}</td>
                            <td>

                                    <a class="btn" href="{% url 'repair-update' rep.id %}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn" href="{% url 'repair-delete' rep.id %}"><i class="glyphicon glyphicon-remove"></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn" href="{% url "repair-create" car.pk %}">{% trans "Add new" %}</a>

            </div>
            <div class="tab-pane" id="tab3">
                     <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Created" %}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for repla in Replacement %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'replacement-detail' repla.id %}">{{ repla.title }}</a></td>
                            <td>{{ repla.created }}</td>
                            <td>

                                    <a class="btn" href="{% url 'replacement-update' repla.id %}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn" href="{% url 'replacement-delete' repla.id %}"><i class="glyphicon glyphicon-remove"></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn" href={% url "replacement-create" object.pk %}>{% trans "Add new" %}</a>
            </div>

            <div class="tab-pane" id="tab4">

                 <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>

                        <th>{% trans "Created" %}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for refu in Refueling %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'refueling-detail' refu.id %}">{{ refu.created }}</a></td>
                            <td>

                                    <a class="btn" href="{% url 'refueling-update' refu.id %}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn" href="{% url 'refueling-delete' refu.id %}"><i class="glyphicon glyphicon-remove"></i></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn" href={% url "refueling-create" object.pk %}>{% trans "Add new" %}</a>

            </div>
        </div>





    </div>
{% endblock %}

 {% block right_column %}
    <div class="col-md-4">
   koszty: {{ object.refuelings_cost }}
    </div>
 {% endblock %}


