{% extends 'index.html' %}
{% load i18n %}

{% block left_column %}
    <div class="col-md-8">
         <h3 class="title">{{ action }}</h3>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.as_p }}

                </div>
                <div class="submit-row">
                    <input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" />
                </div>
            </form>
    </div>
{% endblock %}

 {% block right_column %}
    <div class="col-md-4"></div>
 {% endblock %}