{% extends 'index.html' %}
{% load i18n %}

{% block left_column %}
    <div class="col-md-8">
         <h3 class="title">{% trans "Delete Car" %} {{ car.name }}</h3>

        <div class="alert alert-error">
            <h4>{% trans "Are you sure?" %}</h4>
            {% trans "You will delete also all associated Repair, Replacement and Refueling" %}
        </div>


        <form action="." method="post">
            {% csrf_token %}
            <div class="submit-row">
                <input type="submit" value="{% trans 'Delete' %}" class="btn btn-danger" />
                <a class="btn btn-default" href="{% url "dashboard-cars" %}">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
{% endblock %}
