{% extends 'index.html' %}
{% load i18n %}
{% load thumbnail %}

{% block js %}
        {{ block.super }}

 		  <!--jquery to make table row clickable-->
          <script type="text/javascript">
 		    $('tbody.rowlink').rowlink()
 		  </script>

 		  <!-- end jquery-->
{% endblock %}

 {% block left_column %}
                <div class="col-md-8">


                    <table class="table table-striped table-hover">
                    <thead>
                    <tr >
                        <th>Lp.</th>
                        <th>{% trans "image" %}</th>
                        <th>{% trans "name" %}</th>
                        <th>{% trans "brand" %}</th>
                        <th>{% trans "model" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                    </thead>
                    <tbody  class="rowlink" data-link="row">
                    {% for car in object_list %}
                        <tr>
                            <td><a href="{% url "car-detail" car.pk %}">{{ forloop.counter }}</a></td>
                            <td>
                                {% thumbnail car.image_car "50x50" crop="center" as im %}
                                 <img src="{{ MEDIA_URL }}{{ im }}" alt="{{ im.name }}">
                                {% endthumbnail %}
                            </td>
                            <td><a href="{% url "car-detail" car.pk %}">{{ car.name }}</a></td>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.model}}</td>
                            <td class="rowlink-skip">

                                    <a class="btn btn-default btn-sm" href="{% url "car-update" car.pk %}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-default btn-sm" href="{% url "car-delete" car.pk %}"><i class="glyphicon glyphicon-remove"></i></a>


                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn" href="{% url "car-create" %}">{% trans "Add new" %}</a>

              </div>

{% endblock %}

 {% block right_column %}
                <div class="col-md-4"></div>
            {% endblock %}


