{% extends 'index.html' %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

{% block left_column %}
       <div class="col-md-8">

          <div class="jumbotron">
            <h1>History</h1>
                <p>of your car</p>
                <p>
                 <a class="btn btn-lg btn-primary" href="{% url "dashboard-cars" %}" role="button">View Car »</a>
                </p>
          </div>


       </div>
{% endblock %}

 {% block right_column %}
                <div class="col-md-4">
                <h2>{% trans "Start" %}</h2>
       <p> {% trans "Start to add your cars" %}. <a href="#">{% trans "Sign in" %}</a>.</p>
       <p> {% trans "You are new here" %}? <a href="#">{% trans "Sign up" %}</a>.</p>
                </div>
            {% endblock %}



</body>
</html>